<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 NOT FOUND</title>
    <link rel="stylesheet" href="/css/default.css">
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-messaging.js"></script>
    <script src="/push_messaging.js"></script>
</head>
<body>
    <header class="header">
        <nav class="GND">
            <span class="left">
                <% if (user) { %>
                    <a href="/classes">checkyou.cf</a>
                <% } else { %>
                    <a href="/">checkyou.cf</a>
                <% } %>
            </span>
            </span>
        </nav>
    </header>
    <div class="container">
        <main class="main">
            <h4>This page is not exist;;</h4>
            <a href="/">Home</a>
        </main>
        <footer class="footer"></footer>
    </div>
</body>
</html>