<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/class.css">
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-messaging.js"></script>
    <script src="/push_messaging.js"></script>
    <title>Main</title>
</head>
<body>
    <header class="header">
        <nav class="GND">
            <span class="left">
                <a href="/classes" class="logo">checkyou.cf</a>
            </span>
            <span class="right">
                <a href="/logout" class="btn">logout</a>
                <span class="partition">|</span>
                <a href="/user" class="btn"><%- user.name %></a>
            </span>
        </nav>
    </header>
    <div class="container">
        <main class="main">
            <div class="main_topmost">
                <span class="left">
                    My classes:
                </span>
                <span class="right">
                    <a href="/classes/create" class="class_create_btn">create class</a>
                    <a href="/classes/join" class="class_join_btn">join class</a>
                </span>
            </div>
            <div class="main_classes">
                <% for (let i = 0; i < classes.length; i++) { %>
                    <a href="/classes/my/<%- classes[i].class_id %>/schedule" class="main_classes_item">
                        <div class="name"><%- classes[i].name %></div>
                        <div class="title"><%- classes[i].title %></div>
                    </a>
                <% } %>
            </div>
        </main>
        <footer class="footer">
    
        </footer>
    </div>
</body>
</html>